.spinner {
  position: fixed;
  top: 45%;
  left: 45%;
  width: 64px;
  height: 64px;
}
.spinner:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: spinner 1.2s infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

#load-screen {
  text-align: center;
  background: #000;
	opacity: 1;
	position: fixed;
  z-index: 99999999999999999;
	top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
}

#about {
  position: relative;
  overflow: hidden;
  background-image: url("https://a.storyblok.com/f/47130/641x641/e8979a4aaf/about.jpg");
  height: 640px;
  background-position: center center;
  background-repeat: no-repeat;
}
